<!DOCTYPE html>
<html>
<head>
  <title>Soupr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless current_user.nil? %>
<div>Signed in as... <%= current_user.email %></div>
<div>Your ID is <%= current_user.id %></div>
<% end %>
<div><%= link_to 'log out', :destroy_user_session, method: :delete %>
<%= yield %>

</body>
</html>
